body {
    font-family: 'Roboto', monospace;
    font-size: 20px;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid 1.5px #ff1a64;
}
.clicked {
    color: #229af5;
    border-bottom: solid 1.5px #229af5;
}
.container {}
@media only screen and (max-width: 480px) {
    .container {
        padding-left: 2.5%;
        max-width: 95%;
    }
}
@media only screen and (min-width: 480px) {
    .container {
        padding-top: 22px;
        padding-left: 60px;
        max-width: 480px;
        padding-bottom: 30px;
    }
}
.off {
    display: none;
}
.on {
    display: inline;
}
